<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>thinkphptool工具集</title>
<link href="/static/css/index.css" rel="stylesheet" />
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
<div class="top_bar">
    <ul>
    	{volist name="menu" id="vo"}
        <li>
            <a href="javascript:void(0)" class="one_bar">{$key}</a>
            <ul class="two_bar">
            	{volist name="vo" id="item"}
                <li><b><img src="/static/image/cursor_v.png" /></b><a href="{$item.url}" target="_blank">{$key}——{$item.name}</a></li>
                {/volist}
            </ul>
        </li>
		{/volist}
    </ul>
</div>
</body>
</html>