{include file="public/base" /}
<block name="main">
    <fieldset class="layui-elem-field">
        <legend>省市区5级联动</legend>
        <div class="layui-field-box">
            <form class="layui-form" action="">				             						
				<div class="layui-form-item">
					<label class="layui-form-label">联动选择框</label>
					<div class="layui-input-inline">
						<select name="country_code" lay-filter="country">
							<option value="">请选择国</option>
							{if condition="isset($country)"}
								{foreach $country as $vo}
									{if condition="isset($row.country_code)"}
										{if $row.country_code eq $vo.code}
											<option value="{$vo.code}" selected>{$vo.region_name}</option>
										{/if}
									{else /}	
										<option value="{$vo.code}">{$vo.region_name}</option>
									{/if}
								{/foreach}
							{else /}
								{foreach $data as $vo}
									<option value="{$vo.code}">{$vo.region_name}</option>
								{/foreach}									
							{/if}
						</select>
					</div>
					<div class="layui-input-inline">
						<select name="province_code" id="province" lay-filter="province">
							<option value="">请选择省</option>
							{if condition="isset($province)"}
								{foreach $province as $vo}
									{if condition="isset($row.province_code)"}
										{if $row.province_code eq $vo.code}
											<option value="{$vo.code}" selected>{$vo.region_name}</option>
										{else /}	
											<option value="{$vo.code}">{$vo.region_name}</option>
										{/if}
									{/if}
								{/foreach}	
							{/if}								
						</select>
					</div>										
					<div class="layui-input-inline">
						<select name="city_code" id="city" lay-filter="city">
							<option value="">请选择市</option>
							{if condition="isset($city)"}
								{foreach $city as $vo}
									{if condition="isset($row.city_code)"}
										{if $row.city_code eq $vo.code}
											<option value="{$vo.code}" selected>{$vo.region_name}</option>
										{else /}	
											<option value="{$vo.code}">{$vo.region_name}</option>	
										{/if}
									{/if}
								{/foreach}	
							{/if}							
						</select>
					</div>
					<div class="layui-input-inline">
						<select name="area_code" id="area" lay-filter="area">
							<option value="">请选择区</option>
							{if condition="isset($area)"}
								{foreach $area as $vo}
									{if condition="isset($row.area_code)"}
										{if $row.area_code eq $vo.code}
											<option value="{$vo.code}" selected>{$vo.region_name}</option>
										{else /}	
											<option value="{$vo.code}">{$vo.region_name}</option>		
										{/if}
									{/if}
								{/foreach}
							{/if}							
						</select>
					</div>
					<div class="layui-input-inline">
						<select name="town_code" id="town" lay-filter="town">
							<option value="">请选择乡</option>
							{if condition="isset($town)"}
								{foreach $town as $vo}
									{if condition="isset($row.town_code)"}
										{if $row.town_code eq $vo.code}
											<option value="{$vo.code}" selected>{$vo.region_name}</option>
										{else /}	
											<option value="{$vo.code}">{$vo.region_name}</option>		
										{/if}
									{/if}
								{/foreach}	
							{/if}								
						</select>
					</div>
				</div>	
            </form>
        </div>
    </fieldset>
</block>
<block name="myScript">
    <script>
        layui.use('form', function(){
            var form = layui.form();
			form.on('select(country)', function(data){
				$.post("/Address/index", { "code": data.value, "region_type":2 }, function(data){
					 if (data.code == '1') {
					 	var province_html = '<option value="">请选择省</option>';
					 	$.each(data.data,function(key,val){
							province_html += '<option value="'+val.code+'">'+val.region_name+'</option>';
						});
						$('#province').html(province_html);
						form.render();
					 }
				}, "json");		
			})
			
			form.on('select(province)', function(data){
				$.post("/Address/index", { "code": data.value, 'region_type':3 }, function(data){
					 if (data.code == '1') {
					 	var city_html = '<option value="">请选择市</option>';
					 	$.each(data.data,function(key,val){
							city_html += '<option value="'+val.code+'">'+val.region_name+'</option>';
						});
						$('#city').html(city_html);
						form.render();
					 }
				}, "json");		
			})		
			
			form.on('select(city)', function(data){
				$.post("/Address/index", { "code": data.value, 'region_type':4 }, function(data){
					 if (data.code == '1') {
					 	var area_html = '<option value="">请选择区</option>';
					 	$.each(data.data,function(key,val){
							area_html += '<option value="'+val.code+'">'+val.region_name+'</option>';
						});
						$('#area').html(area_html);
						form.render();
					 }
				}, "json");		
			})
			
			form.on('select(area)', function(data){
				$.post("/Address/index", { "code": data.value, 'region_type':5 }, function(data){
					 if (data.code == '1') {
					 	var town_html = '<option value="">请选择区</option>';
					 	$.each(data.data,function(key,val){
							town_html += '<option value="'+val.code+'">'+val.region_name+'</option>';
						});
						$('#town').html(town_html);
						form.render();
					 }
				}, "json");		
			})							
        });
    </script>
</block>